{% extends 'layouts/base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit tenetur odio quas. Iusto praesentium doloremque provident architecto neque eos, doloribus sunt culpa quae quis unde odit eum incidunt. At, beatae?</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
    </section>
</main>

{% endblock %}